<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <section name="sifless.validation" type="SIFLess.Model.Validation.ValidationConfigurationSection, SIFLess.Model"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIFLess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SolrRequiredVersion" value="6.6.2"/>
    <add key="ConfigManifestPath" value="Data\" />
    <add key="ManifestUrl" value="https://gitcdn.xyz/repo/RAhnemann/sif-less/master/SIFLess/SIFLess/Data/Manifest.xml"/>
  </appSettings>
  <unity configSource="Unity.config" />
  <sifless.validation configSource="Sifless.Validation.config"/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <SIFLess.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </SIFLess.Properties.Settings>
  </userSettings>
</configuration>