<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <section name="sifless.validation" type="SIFLess.Model.Validation.ValidationConfigurationSection, SIFLess.Model"/>
  </configSections>
  <appSettings>
    <add key="SolrRequiredVersion" value="6.6.2"/>
    <add key="ConfigManifestPath" value="Data\ConfigurationManifest.xml" />
  </appSettings>
  <unity configSource="Unity.config" />
  <sifless.validation configSource="Sifless.Validation.config"/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>