<?xml version="1.0" encoding="utf-8" ?>
<sifless.validation>
  <validators>
    <sitecore>
      <add type="test" />
    </sitecore>
    <sql>
      <add type="SIFLess.Validators.Default.SQL.LoginValidator, SIFLess.Validators.Default"/>
      <add type="SIFLess.Validators.Default.SQL.VersionValidator, SIFLess.Validators.Default"/>
      <add type="SIFLess.Validators.Default.SQL.DatabaseCreateValidator, SIFLess.Validators.Default"/>
    </sql>
    <solr>
      <add type=" SIFLess.Validators.Default.Solr.ValidUrlValidator, SIFLess.Validators.Default"/>
      <add type=" SIFLess.Validators.Default.Solr.VersionValidator, SIFLess.Validators.Default"/>
      <add type=" SIFLess.Validators.Default.Solr.ValidFolderValidator, SIFLess.Validators.Default"/>
      <add type=" SIFLess.Validators.Default.Solr.ServiceStatusValidator, SIFLess.Validators.Default"/>
    </solr>
  </validators>
</sifless.validation>