<?xml version="1.0" encoding="utf-8" ?>
<unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="SIFLess.Model.Managers.IProfileManager, SIFLess.Model" mapTo="SIFLess.Managers.Profile.JSONProfileManager, SIFLess.Managers.Profile">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>